[Unit]
Description=Service managing the Shuttle devices

[Service]
Type=simple
ExecStart=/usr/local/bin/shuttleworker
Restart=always

[Install]
WantedBy=default.target
