alias vim='nvim'
alias v='nvim'
alias ls='exa'
alias ll='exa -l -a'
alias rgc='rg -tc'
alias fd='fdfind'

# Git
alias gc='git checkout'
alias gau='git add -u'
alias gcm='git commit -m'
alias gs='git status'
alias gl='git log --pretty --oneline --graph'
alias gll='git log --pretty --graph'
alias gri='git rebase -i'
alias grid='git rebase -i develop'
alias grih='git rebase -i HEAD~2'
alias grhh='git reset --hard HEAD'
alias gsu='git submodule update --init --recursive'
alias gp='git pull'
alias gb='git checkout -b'
alias gd='git diff'
alias gcp='git cherry-pick'

fzf-git-branch() {
    git rev-parse HEAD > /dev/null 2>&1 || return

    git branch --color=always --all --sort=-committerdate |
        grep -v HEAD |
        fzf --height 50% --ansi --no-multi --preview-window right:65% \
            --preview 'git log -n 50 --color=always --date=short --pretty="format:%C(auto)%cd %h%d %s" $(sed "s/.* //" <<< {})' |
        sed "s/.* //"
}

fzf-git-checkout() {
    git rev-parse HEAD > /dev/null 2>&1 || return

    local branch

    branch=$(fzf-git-branch)
    if [[ "$branch" = "" ]]; then
        echo "No branch selected."
        return
    fi

    # If branch name starts with 'remotes/' then it is a remote branch. By
    # using --track and a remote branch name, it is the same as:
    # git checkout -b branchName --sort=-committerdate --track origin/branchName
    if [[ "$branch" = 'remotes/'* ]]; then
        git checkout --track $branch
    else
        git checkout $branch;
    fi
}

alias gbf='fzf-git-branch'
alias gco='fzf-git-checkout'

h2d(){
  echo "ibase=16; $(echo $@ | tr a-f A-F)"|bc
}

d2h(){
  echo "obase=16; $@"|bc
}

h2b(){
  echo "ibase=16; obase=2; $(echo $@ | tr a-f A-F)" | bc
}
