swap_tiled_layout name="bettystack" {
    tab max_panes=3 {
        pane split_direction="vertical" {
            pane
            pane split_direction="horizontal" {
                children;
            }
        }
    }
    tab min_panes=3 {
        pane split_direction="vertical" {
            pane
            pane split_direction="horizontal" {
                pane stacked=true {
                    children
                }
                pane
            }
        }
    }
}
