layout {
    pane_template name="sidebar" split_direction="vertical"{
        pane borderless=true size="50%" split_direction="vertical"{
            command "~/.config/zellij/layouts/betty/purr.sh"
            cwd "~/uxr"
        }
        pane {
            children
        }
    }

    default_tab_template {
    pane size=1 borderless=true {
        plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
            format_left   "#[fg=#93b259]{mode}#[bg=#3a94c5,fg=#f3f5d9] {session} #[fg=#3a94c5,bg=#f2efdf]"
            format_center "{tabs}"
            //format_right  "#[fg=#f4f0d9]"
            format_right  "#[fg=#93b259,bg=#f4f0d9]{command_hostname}#[fg=#93b259]"
            format_space  "#[fg=#93b259,bg=#f4f0d9]"

            border_enabled  "false"

            hide_frame_for_single_pane "false"

            mode_normal        "#[bg=#93b259,fg=#f3f5d9] NORMAL #[fg=#93b259,bg=#3a94c5]"
            mode_locked        "#[bg=#93b259,fg=#f3f5d9] LOCKED #[fg=#93b259,bg=#3a94c5]"
            mode_resize        "#[bg=#93b259,fg=#f3f5d9] RESIZE #[fg=#93b259,bg=#3a94c5]"
            mode_pane          "#[bg=#93b259,fg=#f3f5d9]  PANE  #[fg=#93b259,bg=#3a94c5]"
            mode_tab           "#[bg=#93b259,fg=#f3f5d9]  TAB   #[fg=#93b259,bg=#3a94c5]"
            mode_scroll        "#[bg=#93b259,fg=#f3f5d9] SCROLL #[fg=#93b259,bg=#3a94c5]"
            mode_enter_search  "#[bg=#93b259,fg=#f3f5d9] SEARCH #[fg=#93b259,bg=#3a94c5]"
            mode_search        "#[bg=#93b259,fg=#f3f5d9] SEARCH #[fg=#93b259,bg=#3a94c5]"
            mode_rename_tab    "#[bg=#93b259,fg=#f3f5d9] RENAME #[fg=#93b259,bg=#3a94c5]"
            mode_rename_pane   "#[bg=#93b259,fg=#f3f5d9] RENAME #[fg=#93b259,bg=#3a94c5]"
            mode_session       "#[bg=#93b259,fg=#f3f5d9] SESSN  #[fg=#93b259,bg=#3a94c5]"
            mode_move          "#[bg=#93b259,fg=#f3f5d9] MOVE   #[fg=#93b259,bg=#3a94c5]"
            mode_prompt        "#[bg=#93b259,fg=#f3f5d9] PROMPT #[fg=#93b259,bg=#3a94c5]"

            tab_normal   "#[fg=#e8e5d5,bg=#f2efdf]#[bg=#e8e5d5,fg=#bec5b2] {name} #[fg=#e8e5d5,bg=#f2efdf]#[fg=#e8e5d5,bg=#f2efdf] "
            tab_active   "#[fg=#f2efdf]#[fg=#93b259,bold] {name} #[fg=#f2efdf]#[fg=#e8e5d5,bg=#f2efdf] "
            //tab_normal   "#[bg=#e8e5d5,fg=#f2efdf]#[bg=#e8e5d5,fg=#bec5b2] {name} #[bg=#e8e5d5,fg=#f2efdf]#[fg=#e8e5d5,bg=#f2efdf] "
            //tab_active   "#[fg=#f2efdf]#[fg=#93b259,bold] {name} #[fg=#f2efdf]#[fg=#e8e5d5,bg=#f2efdf] "

            command_hostname_command  "hostname"
            command_hostname_format "#[bg=#93b259,fg=#f3f5d9] {stdout} "
            command_hostname_rendermode  "static"
            command_hostname_interval    "0"

            command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
            command_git_branch_format      "#[fg=blue] {stdout} "
            command_git_branch_interval    "10"
            command_git_branch_rendermode  "static"

            datetime        "#[fg=#6C7086,bold] {format} "
            datetime_format "%A, %d %b %Y %H:%M"
            datetime_timezone "America/New_York"
        }
    }
    sidebar {
        pane split_direction="horizontal"{
            pane {
                command "~/.config/zellij/layouts/betty/shell.sh"
                cwd "~/uxr"
            }

            pane {
                cwd "~/uxr"
                focus true
            }

            children
        }
    }
    }
}
