body {
  padding-bottom: 64px;
}
a:visited {
  color: #F43CDC;
}
a:link, a:link:hover, a:link:active, a:link * {
  color: #FF773E;
}
a:link {
  text-decoration: none;
  font-weight: normal;
}
pre {
  white-space: pre-wrap;
}
pre code {
  background-color: #eff0f1;
  color: #393318;
  font-family: monospace;
  display: block;
  padding: 5px 10px;
}
body[data-mode="dark"] pre code {
  background-color: #585858;
  color: #e8e8e8;
}

/* CSS for sans-serif fonts */
body[data-font=sans-serif] {}
/* CSS for serif fonts */
body[data-font=serif] {
  font-family: "Atkinson Hyperlegible";
}

/* CSS for "sepia" theme */
body[data-mode=sepia] {
  color: #170501;
  background-color: #f5e7d7;
}
/* CSS for "light" theme */
body[data-mode=light] {}
/* CSS for "dark" theme */
body[data-mode=dark] {
  color: #ff829f;
  background-color: #072241;
}
