fzf-cd-widget() {
  local cmd="${FZF_ALT_C_COMMAND:-"command find -L . -mindepth 1 \\( -path '*/.*' -o -fstype 'sysfs' -o -fstype 'devfs' -o -fstype 'devtmpfs' -o -fstype 'proc' \\) -prune \
    -o -type d -print 2> /dev/null | cut -b3-"}"
  setopt localoptions pipefail no_aliases 2> /dev/null
  local dir
  {
    dir="$(eval "$cmd" | FZF_DEFAULT_OPTS="--height ${FZF_TMUX_HEIGHT:-40%} --reverse --scheme=path --bind=ctrl-z:ignore,change:first ${FZF_DEFAULT_OPTS-} ${FZF_ALT_C_OPTS-}" $(__fzfcmd) +m)"
  } always {
    zle reset-prompt
  }
  if [[ -z "$dir" ]]; then
    return 0
  fi
  zle push-line # Clear buffer. Auto-restored on next prompt.
  BUFFER="builtin cd -- ${(q)dir}"
  zle accept-line
  local ret=$?
  unset dir # ensure this doesn't end up appearing in prompt expansion
  return $ret
}

# fzf to cd to a directory
cd-fzf-helper() {
  local dirlist=$(eza -1 -D -s modified -r $2)
  dirlist="$dirlist\n.."
  local fzfret=$(echo $dirlist | fzf --ansi \
    --height '40%' \
    --color prompt:green \
    --layout=reverse \
    --prompt 'cd> ' \
    --header "${2:2}" \
    --preview "eval eza -G --color=always --group-directories-first -s modified ./$2/{1}" \
    --preview-window 'right,50%' \
    --bind 'change:first' \
    --bind 'pgup:preview-half-page-up' \
    --bind 'pgdn:preview-half-page-down' \
    --bind 'ctrl-delete:clear-query' \
    --bind 'btab:become(echo up)' \
    --bind 'esc:become(echo up)' \
    --bind '.:become(echo up)' \
    --bind 'tab:become(echo continue {1})' \
    --bind 'enter:become(echo done {1})' \
    --bind 'space:become(echo done .)')

  local ret=( ${=fzfret} )
  dir="$2/${ret[2]}"

  if [[ ${ret[1]} = "continue" ]]; then
    local numdirs=$(fd -I -d 1 -td --base-directory $dir | wc -l)
    if [[ $numdirs = "0" ]]; then
      # No-Op
      #cd-fzf-helper $1 $2

      # Just open the dir
      finaldir=$dir
    else
      cd-fzf-helper $(( $1 + 1 )) $dir
    fi
  elif [[ ${ret[1]} = "up" ]]; then
    local parentdir=$(dirname $dir)
    if [[ $parentdir = "." ]]; then
      finaldir=""
    else
      cd-fzf-helper $(( $1 - 1 )) $(dirname $dir)
    fi
  elif [[ ${ret[1]} = "cancel" ]]; then
    finaldir=""
  elif [[ ${ret[1]} = "done" ]]; then
    finaldir=$dir
  fi
}
zle     -N            cd-fzf-helper

cd-fzf() {
  local finaldir=""
  {
    cd-fzf-helper 0 '.'
  } always {
    zle reset-prompt
  }

  if [[ -z "$finaldir" || $finaldir = "" ]]; then
    return 0
  fi

  zle push-line
  BUFFER="builtin cd -- ${(q)finaldir}"
  zle accept-line
  local ret=$?
  return $ret
}
zle     -N            cd-fzf
bindkey -M emacs '^g' cd-fzf
bindkey -M vicmd '^g' cd-fzf
bindkey -M viins '^g' cd-fzf

_zellij_refresh_git_branch() {
  if [[ -n "$ZELLIJ" ]] && (( $+commands[zellij] )); then
    command zellij pipe "zjstatus::rerun::git_branch" >/dev/null 2>&1 &!
  fi
}

# zoxide + fzf
zoxide-fzf() {
  local result
  {
    zle push-input
{{ if ne .theme "dark" -}}
    local fzf_opts="--exact --no-sort --bind=ctrl-z:ignore,btab:up,tab:down,change:first --keep-right --height=45% --info=inline --layout=reverse --tabstop=1 --exit-0 --preview-window=down --color=bg+:#f3f5d9,fg:#5c6a72,fg+:#5c6a72,border:#8da101,spinner:#f85552,hl:#f85552,header:#dfa000,info:#35a77c,pointer:#f85552,marker:#f85552,prompt:#fffbef,hl+:#fa8987 --preview 'eval eza -G --color=always --group-directories-first -s modified {}'"
{{- else -}}
    local fzf_opts="--exact --no-sort --bind=ctrl-z:ignore,btab:up,tab:down,change:first --keep-right --height=45% --info=inline --layout=reverse --tabstop=1 --exit-0 --preview-window=down --preview 'eval eza -G --color=always --group-directories-first -s modified {}'"
{{- end }}
    result="$(command zoxide query -l | sed "s|^${HOME}|~|" | FZF_DEFAULT_OPTS="${fzf_opts}" $(__fzfcmd 2>/dev/null || echo fzf) +m)"
    if [[ -n "$result" ]]; then
      __zoxide_cd "${result/#\~/$HOME}"
      _zellij_refresh_git_branch
    fi
  } always {
    zle reset-prompt
  }
}
zle     -N            zoxide-fzf
bindkey -M emacs '^j' zoxide-fzf
bindkey -M vicmd '^j' zoxide-fzf
bindkey -M viins '^j' zoxide-fzf

zoxide-fzf-curdir() {
  local result
  {
    zle push-input
{{ if ne .theme "dark" -}}
    local fzf_opts="--exact --no-sort --bind=ctrl-z:ignore,btab:up,tab:down,change:first --keep-right --height=45% --info=inline --layout=reverse --tabstop=1 --exit-0 --preview-window=down --color=bg+:#f3f5d9,fg:#5c6a72,fg+:#5c6a72,border:#8da101,spinner:#f85552,hl:#f85552,header:#dfa000,info:#35a77c,pointer:#f85552,marker:#f85552,prompt:#fffbef,hl+:#fa8987 --preview 'eval eza -G --color=always --group-directories-first -s modified {}'"
{{- else -}}
    local fzf_opts="--exact --no-sort --bind=ctrl-z:ignore,btab:up,tab:down,change:first --keep-right --height=45% --info=inline --layout=reverse --tabstop=1 --exit-0 --preview-window=down --preview 'eval eza -G --color=always --group-directories-first -s modified {}'"
{{- end }}
    result="$(command zoxide query -l -- "${PWD}" "/" | sed "s|^${PWD}/||; s|^${PWD}$|.|" | FZF_DEFAULT_OPTS="${fzf_opts}" $(__fzfcmd 2>/dev/null || echo fzf) +m)"
    if [[ -n "$result" ]]; then
      __zoxide_cd "${PWD}/${result}"
      _zellij_refresh_git_branch
    fi
  } always {
    zle reset-prompt
  }
}
zle     -N            zoxide-fzf-curdir
bindkey -M emacs '^k' zoxide-fzf-curdir
bindkey -M vicmd '^k' zoxide-fzf-curdir
bindkey -M viins '^k' zoxide-fzf-curdir

# rg + fzf
rg-fzf() {
BAT_BIN="bat"
if (( $+commands[batcat] )); then
  BAT_BIN="batcat"
fi
RG_PREFIX="rg --column --line-number --no-heading --color=always --smart-case "
INITIAL_QUERY="${*:-}"
local file_path
{
  file_path=$(: | fzf --ansi --disabled --query "$INITIAL_QUERY" \
      --color prompt:green \
      --prompt "rg> " \
      --header "" \
      --bind "start:reload:$RG_PREFIX {q}" \
      --bind "change:change-header()+reload:sleep 0.1; $RG_PREFIX {q} || true" \
      --bind "alt-c:change-header([C])+reload:$RG_PREFIX -tc {q} || true" \
      --bind "alt-v:change-header([C++])+reload:$RG_PREFIX -tcpp {q} || true" \
      --bind "alt-m:change-header([Makefile])+reload:$RG_PREFIX -tmake {q} || true" \
      --bind "alt-a:change-header([Android])+reload:$RG_PREFIX -tandroid {q} || true" \
      --delimiter : \
      --preview "$BAT_BIN --color=always {1} --highlight-line {2}" \
      --preview-window 'up,40%,border-bottom,+{2}+3/3,~3' \
      --bind 'enter:become(echo {1} +{2})' \
      --bind 'ctrl-space:execute(nvim {1} +{2})' \
      --bind "tab:execute($BAT_BIN --color=always {1} --highlight-line {2} | less)")
} always {
  zle reset-prompt
}

if [[ $file_path ]]; then
  zle push-input
  BUFFER="nvim $file_path"
  zle accept-line
fi
}
zle     -N            rg-fzf
bindkey -M emacs '^f' rg-fzf
bindkey -M vicmd '^f' rg-fzf
bindkey -M viins '^f' rg-fzf

# vim + fzf
vim-fzf() {
BAT_BIN="bat"
if (( $+commands[batcat] )); then
  BAT_BIN="batcat"
fi
local file_path
{
  file_path=$(fd --type f | fzf --ansi \
      --color prompt:green \
      --prompt "nvim> " \
      --header "" \
      --height '40%' \
      --freeze-left=1 \
      --freeze-right=1 \
      --delimiter=/ \
      --preview "$BAT_BIN --color=always {}" \
      --preview-window 'right,50%' \
      --bind 'change:first' \
      --bind 'enter:become(echo {})' \
      --bind 'pgup:preview-half-page-up' \
      --bind 'pgdn:preview-half-page-down' \
      --bind 'ctrl-delete:clear-query')
} always {
  zle reset-prompt
}

if [[ $file_path ]]; then
  zle push-input
  BUFFER="nvim $file_path"
  zle accept-line
fi
}
zle     -N            vim-fzf
bindkey -M emacs '^v' vim-fzf
bindkey -M vicmd '^v' vim-fzf
bindkey -M viins '^v' vim-fzf

# git pick commit
git-pick-fzf() {
  local commit
  {
    commit="$(fzf-git-pick-commit)"
  } always {
    zle reset-prompt
  }
  if [[ -n "$commit" ]]; then
    LBUFFER+="$commit "
  fi
}

zle     -N            git-pick-fzf
bindkey -M emacs '^n' git-pick-fzf
bindkey -M vicmd '^n' git-pick-fzf
bindkey -M viins '^n' git-pick-fzf

# git branch picker
git-branch-fzf() {
  local branch
  {
    branch="$(fzf-git-branch)"
  } always {
    zle reset-prompt
  }
  if [[ -n "$branch" ]]; then
    LBUFFER+="$branch "
  fi
}

zle     -N            git-branch-fzf
bindkey -M emacs '^b' git-branch-fzf
bindkey -M vicmd '^b' git-branch-fzf
bindkey -M viins '^b' git-branch-fzf

# vim: ft=zsh
